<aside class=" w-1/3 h-full shadow-[10px_0_10px_-3px_rgba(0,0,0,0.1)]">
    <ul class="flex flex-col gap-2 p-3">
        {{# conversations}}
        <button 
            class="flex items-center gap-2 p-2 hover:bg-gray-100"
            @click="$dispatch('select-conversation', { otherUserId: {{sender.id}}, userId: {{userId}} })"
        >
            <img class="size-8 rounded-full transit bg-gray-500" src="{{sender.avatar}}" onerror="this.src='/api/public/defaultAvatar.jpg'" alt="{{sender.name}}">
            <p class="select-none">{{sender.name}}</p>
        </button>
        {{/ conversations}}
    </ul>
</aside>