<aside class=" w-1/3 h-full shadow-[10px_0_10px_-3px_rgba(0,0,0,0.1)]">
    <ul class="flex flex-col gap-2 p-3">
        <button>
            <li class="flex items-center">
                <img class="size-8 rounded-full transit bg-gray-500" src="{{userProfileImage}}" alt="You">
                <p class="select-none" id="user-menu-button-text">userName</p>
            <li>
        </button>        
        <button>
            <li class="flex items-center">
                <img class="size-8 rounded-full transit bg-gray-500" src="{{userProfileImage}}" alt="You">
                <p class="select-none" id="user-menu-button-text">userName</p>
            <li>
        </button>
    </ul>
</aside>