
{{# trending}}
<div class="size-8 bg-[#F64F01] absolute right-0 top-1 rounded-tr-lg rounded-bl-lg flex items-center justify-center">
    <img src="/api/public/svg/flame.svg" class="size-7" >
</div>
{{/ trending}}
{{# sales}}
<div class="size-8 bg-[#2f36ff] absolute right-0 top-1 rounded-tr-lg rounded-bl-lg flex items-center justify-center">
    <img src="/api/public/svg/sales.svg" class="size-6" >
</div>
{{/ sales}}
{{# new}}
<div class="size-8 bg-[#22b60f] absolute right-0 top-1 rounded-tr-lg rounded-bl-lg flex items-center justify-center">
    <img src="/api/public/svg/new.svg" class="size-6" >
</div>
{{/ new}}
{{# fast}}
<div class="size-8 bg-[#ffd400] absolute right-0 top-1 rounded-tr-lg rounded-bl-lg flex items-center justify-center">
    <img src="/api/public/svg/fast.svg" class="size-6" >
</div>
{{/ fast}}