RewriteEngine On
# Pour localhost, ajustez le RewriteBase au dossier de votre projet
RewriteBase /

# Rediriger la racine vers index.php
RewriteRule ^$ api/index.php [L]

# Rediriger /login vers la page de login
RewriteRule ^login$ api/views/signInUp.php [L]

# Rediriger /dashboard et /dashboard/admin
RewriteRule ^dashboard$ api/views/dashboard.php [L]
RewriteRule ^dashboard/admin$ api/views/dashboard.php [L]

# Rediriger /signOut vers signOutControllers
RewriteRule ^signOut$ api/controllers/signOutControllers.php  [L]

# Rediriger /error
RewriteRule ^error$ api/views/error.php [L]

# Rediriger /publicationForm
RewriteRule ^publicationForm$ api/views/publicationForm.php [L]

# Rediriger /messageForm
RewriteRule ^messageForm$ api/views/messageForm.php [L]

# Rediriger /messageDashboard
RewriteRule ^messageDashboard$ api/views/messageDashboard.php [L]

# Rediriger /product
RewriteRule ^product$ api/views/product.php [L]

