
<div class='w-48 h-64 flex flex-col items-center justify-between rounded-2xl relative'>
    <div class="self-start">
        <h3 class="text-md text-left self-start ms-1 mt-1">{{products.name}}</h3>
    </div>
    <div class="bg-[#FFD1A9] items-center w-full rounded-b-2xl ">
        <img src="{{products.image}}" alt="{{products.name}}" class="w-34 object-cover">
        <p class="text-white bg-red-600 ps-4 pe-2 absolute bottom-6 right-0 rounded-s-md">{{products.price}}$</p>
    </div>
</div>