<main class="bg-[#EAEBED] p-8">
    <div class="bg-[#EAEBED] h-full m-4 p-4">
        <form method="POST" action="" class="border border-gray-300 bg-white rounded-2xl flex flex-col">
            <div class="text-center font-bold text-4xl space-y-10 pt-4 flex flex-col items-center">
                <h1>Shopping Cart</h1>
                <hr class="w-2/3 border-gray-300">
            </div>
            <div class="text-center space-y-10 pt-10 flex flex-col items-center">
                <div class="flex w-full justify-around">
                    <div>
                        <img src="../api/public/product_test_01.jpg" alt="Product Image" class="h-50">
                    </div>
                    <div>
                        <h2 class="font-bold text-lg">product_test_01</h2>
                        <p class="">Price: $<span id="product-price">10.00</span></p>
                        
                    </div>
                    <div>
                        <input type="number" name="quantity" value="1" min="1" class="border rounded-md w-1/3 p-2">
                    </div>
                    <div>
                        <img src="../api/public/svg/cancel.svg" alt="Cancel" class="h-10 cursor-pointer">
                    </div>
                </div>
                <hr class="w-2/3 border-gray-300">
            </div>
            <div class="text-center space-y-10 pt-10 flex flex-col items-center">
                <div class="flex w-full justify-around">
                    <div>
                        <img src="../api/public/product_test_02.jpg" alt="Product Image" class="h-50">
                    </div>
                    <div>
                        <h2 class="font-bold text-lg">product_test_02</h2>
                        <p class="">Price: $<span id="product-price">12.00</span></p>
                        
                    </div>
                    <div>
                        <input type="number" name="quantity" value="1" min="1" class="border rounded-md w-1/3 p-2">
                    </div>
                    <div>
                        <img src="../api/public/svg/cancel.svg" alt="Cancel" class="h-10 cursor-pointer">
                    </div>
                </div>
                <hr class="w-2/3 border-gray-300">
            </div>
            <div class="text-center space-y-10 pt-10 flex flex-col items-center">
                <div class="flex w-full justify-around">
                    <div>
                        <img src="../api/public/product_test_03.jpg" alt="Product Image" class="h-50">
                    </div>
                    <div>
                        <h2 class="font-bold text-lg">product_test_03</h2>
                        <p class="">Price: $<span id="product-price">20.00</span></p>
                        
                    </div>
                    <div>
                        <input type="number" name="quantity" value="1" min="1" class="border rounded-md w-1/3 p-2">
                    </div>
                    <div>
                        <img src="../api/public/svg/cancel.svg" alt="Cancel" class="h-10 cursor-pointer">
                    </div>
                </div>
                <hr class="w-2/3 border-gray-300">
            </div>
            <div class="space-y-4 mt-10 p-4 flex flex-col mx-auto items-center w-2/3 bg-gray-100 rounded-md">
                <h2 class="font-semibold text-lg">Order summary</h2>
                <div class="flex w-full justify-between border-b-1 border-b-gray-300 space-y-4">
                    <p>Subtotal</p>
                    <p class="">$42.00</p>
                </div>
                <div class="flex w-full justify-between border-b-1 border-b-gray-300 space-y-4">
                    <p>Shipping estimate</p>
                    <p class="">$5.00</p>
                </div>
                <div class="flex w-full justify-between border-b-1 border-b-gray-300 space-y-4">
                    <p>Tax estimate</p>
                    <p class="">$3.00</p>
                </div>
                <div class="flex w-full justify-between border-b-1 border-b-gray-300 space-y-4 font-semibold">
                    <p>Order total</p>
                    <p class="">$50.00</p>
                </div>
                <button type="submit" class="bg-[#303F9F] text-[#FFC107] w-2/3 text-md py-2 mt-1 rounded-md cursor-pointer hover:bg-[#FFC107] hover:text-[#303F9F]">
                    <p class="text-center font-bold">Checkout</p>
                </button>
            </div>
        </form>
    </div>
</main>

<!--<div class="cart">
        <h1>Your Shopping Cart</h1>
        {{#items}}
        <div class="cart-item">
            <h2>{{name}}</h2>
            <p>Price: ${{price}}</p>
            <p>Quantity: {{quantity}}</p>
        </div>
        {{/items}}
        <div class="cart-total">
        <h2>Total: ${{total}}</h2>
        </div>
    </div>-->