<script src="//unpkg.com/alpinejs" defer></script>
<main x-data="{ reduced: true }" 
    :class="reduced ? 'h-fit-content' : 'h-full'" 
    class="max-w-1/3 w-full max-h-1/2 fixed bottom-0 right-0 border-gray-500 px-3 bg-[#eaebed] rounded-tl-3xl shadow-[0_0_15px_rgba(0,0,0,0.2)] transition-all duration-200">
    <nav class="shadow-[0_10px_10px_-10px_rgba(0,0,0,0.1)] pb-3 flex justify-between pt-2">
        <h3>Messages</h3>
        <button type="button" @click="reduced = !reduced">
            <svg :class="reduced ? 'rotate-180' : '' " class=" cursor-pointer transition-all duration-200" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-up-icon lucide-chevron-up"><path d="m18 15-6-6-6 6"/></svg>
        </button>
    </nav>
    <div  :class="reduced ? 'hidden' : 'flex' " class=" h-[calc(100%-3rem)]">
        {{> messages/sidebar}}
        <div class="w-full h-full relative">
            <div class="absolute inset-0 bottom-12 space-y-3 flex flex-col justify-end overflow-y-auto pb-4 px-2">
                {{#Messages}}
                    {{> messages/message}}
                {{/Messages}}
            </div>
            <input type="text" class="absolute bottom-0 w-full h-12 px-4 shadow-[0_-10px_10px_-10px_rgba(0,0,0,0.1)] bg-[#eaebed] focus:outline-none focus:border-gray-500 focus:ring-0" placeholder="Type a message...">
        </div>
    </div>
</main>