<main class="mx-auto">
    <div>
        {{# hotProducts}}
            <h2 class="flex text-4xl mb-4 mt-10 uppercase font-bold w-fit "><img src="/api/public/svg/flame.svg" class="size-12 [filter:invert(44%)_sepia(96%)_saturate(3938%)_hue-rotate(360deg)_brightness(102%)_contrast(104%)]" />Les produits tendances !</h2>
            {{> card}}
        {{/ hotProducts}}
    </div>
    <h2 class="flex text-4xl mb-4 mt-10 uppercase font-bold w-fit ">Tous nos produits</h2>
    <div class="my-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-6  mx-auto">
        {{# products}}
            {{> card}}
        {{/ products}}
        
    </div>
</main>