
<form   action="" method="post" enctype="multipart/form-data"
        class="flex flex-col">
    <div>
        <p>Détails de votre annonce</p>
    </div>
    <div>
        <label for="title">Titre de l'annonce</label>
        <input type="text" name="title" id="title" required>
    </div>
</form>