<form action="" method="post" enctype="multipart/form-data" class="flex flex-col items-center m-5 p-4 space-y-4">
    <div class="flex flex-col">
        <h1 class="font-bold text-2xl underline">Announcement description</h1>
    </div>
    <div class="flex flex-col w-3/4">
        <label for="title">Product name</label>
        <input type="text" 
                name="title" 
                id="title" 
                required
                class="border border-gray-300 rounded-md p-2 shadow-md shadow-indigo-200/50">
    </div>
    <div class="flex flex-col w-3/4">
        <label for="category">Category</label>
        <select name="category" 
                id="category" 
                required
                class="border border-gray-300 rounded-md p-2 cursor-pointer shadow-md shadow-indigo-200/50">
            <option value="" disabled selected>Select a category</option>
            <option value="">Furniture</option>
            <option value="">High-tech</option>
            <option value="">Clothes</option>
            <option value="">Human slaves</option>            
        </select>
    </div>
    <div class="flex flex-col w-3/4">
        <label for="price">Price</label>
        <input type="text" 
                name="price" 
                id="price" 
                required
                class="border border-gray-300 rounded-md p-2 shadow-md shadow-indigo-200/50">
    </div>
    <div class="flex flex-col w-3/4">
        <label for="image">Image</label>
        <input type="file" 
                name="image" 
                id="image" 
                accept="image/*" 
                required
                class="border border-gray-300 rounded-md p-2 cursor-pointer shadow-md shadow-indigo-200/50">
    </div>
    <div class="flex flex-col w-3/4">
        <label for="description">Description</label>
        <textarea name="description" 
                id="description"
                rows="5"
                required
                class="border border-gray-300 rounded-md p-2 shadow-md shadow-indigo-200/50">
        </textarea>
    </div>
    <div>
        <button type="submit" 
                class="border border-gray-300 rounded-md p-2 bg-indigo-500 text-white w-75 mt-5 shadow-md ease-in-out hover:duration-500 hover:scale-115 cursor-pointer">Publish</button>
    </div>
</form>