    <div class=" w-full max-w-1/5 bg-[#EAEBED]">
        <ul class="h-full w-full flex flex-col space-y-4 text-right px-5 pt-5">
            {{#isAdmin}} 
                <li><a href="">Mon profil</a></li>
                <li><a href="/signOut">Se déconnecter</a></li>
            {{/isAdmin}}
            {{^isAdmin}}
                <li><a href="">Ajouter Utilisateur</a></li>
                <li><a href="">Afficher les infos d'un user</a></li>
                <li><a href="">Modifier Utilisateur</a></li>
                <li><a href="">Supprimer Utilisateur</a></li>
            {{/isAdmin}}
        </ul>
    </div>