<main class="bg-white w-full h-full rounded-tl-xl p-5">
    <form action="/dashboard/admin" method="GET" class="grid grid-cols-2 gap-4 [&_input:disabled]:bg-gray-200 [&_input:disabled]:text-gray-400">
        <div class="form-group">
            <label for="userEmail">User email:</label>
            <input type="text" name="userEmail" id="userEmail" value="{{user.email}}" class="border p-2 w-full rounded">
        </div>
        <div class="form-group flex items-end">
            <input type="hidden" name="page" value="userInfos">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Search</button>
        </div>
    </form> 

    <form action="POST"  class="grid grid-cols-2 gap-4 [&_input:disabled]:bg-gray-200 [&_input:disabled]:text-gray-400">
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" id="last_name" value="{{user.lastName}}" class="border p-2 w-full rounded">
        </div>
        
        <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" id="first_name" value="{{user.firstName}}" class="border p-2 w-full rounded">
        </div>
        
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" value="{{user.password}}" class="border p-2 w-full rounded">
        </div>
        
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" value="{{user.email}}" class="border p-2 w-full rounded">
        </div>
        
        <div class="form-group">
            <label for="phone_number">Phone</label>
            <input type="tel" id="phone_number" value="{{user.phoneNumber}}" class="border p-2 w-full rounded">
        </div>
        
        <div class="form-group">
            <label for="avatar">Avatar</label>
            <input type="text" id="avatar" value="{{user.avatar}}" class="border p-2 w-full rounded">
        </div>
        
        <div class="form-group">
            <label for="birthDate">Birth date</label>
            <input disabled type="text" id="birthDate" value="{{user.birthDate}}" class="border p-2 w-full rounded">
        </div>
        
        <div class="form-group">
            <label for="creationDate">Creation date</label>
            <input disabled type="text" id="creationDate" value="{{user.creationDate}}" class="border p-2 w-full rounded" disabled>
        </div>
        
        <div class="form-group">
            <label for="lastModified">Last modified</label>
            <input disabled type="text" id="lastModified" value="{{user.lastModified}}" class="border p-2 w-full rounded" disabled>
        </div>
        
        <div class="form-group">
            <label for="operatorLevel">Operator level</label>
            <select id="operatorLevel" name="operatorLevel" class="border p-2 w-full rounded">
                <option value="user" {{#isUser}}selected{{/isUser}}>User</option>
                <option value="administrator" {{#isAdmin}}selected{{/isAdmin}}>Administrator</option>
            </select>
        </div>
    </form>

</main>