
<main class="bg-white w-full h-full rounded-tl-xl p-5">
    <form action="/dashboard" method="GET" class="grid grid-cols-2 gap-4 [&_input:disabled]:bg-gray-200 [&_input:disabled]:text-gray-400">
        <div class="form-group">
            <label for="userEmail">Email de l'utilisateur :</label>
            <input type="text" name="userEmail" id="userEmail" value="{{user.email}}" class="border p-2 w-full rounded">
        </div>
        <div class="form-group flex items-end">
            <input type="hidden" name="page" value="userInfos">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Rechercher</button>
        </div>
    </form> 

    <form action="POST" aria-disabled="true" class="grid grid-cols-2 gap-4 [&_input:disabled]:bg-gray-200 [&_input:disabled]:text-gray-400">
        <div class="form-group">
            <label for="lastName">Nom</label>
            <input disabled type="text" id="last_name" value="{{user.lastName}}" class="border p-2 w-full rounded">
        </div>
        
        <div class="form-group">
            <label for="firstName">Prénom</label>
            <input disabled type="text" id="first_name" value="{{user.firstName}}" class="border p-2 w-full rounded">
        </div>
        
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input disabled type="password" id="password" value="{{user.password}}" class="border p-2 w-full rounded">
        </div>
        
        <div class="form-group">
            <label for="email">Email</label>
            <input disabled type="email" id="email" value="{{user.email}}" class="border p-2 w-full rounded">
        </div>
        
        <div class="form-group">
            <label for="phone_number">Téléphone</label>
            <input disabled type="tel" id="phone_number" value="{{user.phoneNumber}}" class="border p-2 w-full rounded">
        </div>
        
        <div class="form-group">
            <label for="avatar">Avatar</label>
            <input disabled type="text" id="avatar" value="{{user.avatar}}" class="border p-2 w-full rounded">
        </div>
        
        <div class="form-group">
            <label for="birthDate">Date de naissance</label>
            <input disabled type="text" id="birthDate" value="{{user.birthDate}}" class="border p-2 w-full rounded">
        </div>
        
        <div class="form-group">
            <label for="creationDate">Date de création</label>
            <input disabled type="text" id="creationDate" value="{{user.creationDate}}" class="border p-2 w-full rounded" disabled>
        </div>
        
        <div class="form-group">
            <label for="lastModified">Dernière modification</label>
            <input disabled type="text" id="lastModified" value="{{user.lastModified}}" class="border p-2 w-full rounded" disabled>
        </div>
        
        <div class="form-group">
            <label for="operatorLevel">Niveau d'opérateur</label>
            <input disabled type="text" id="operatorLevel" value="{{user.operatorLevel}}" class="border p-2 w-full rounded">
        </div>
    </form>

</main>